<section id="experience" class="experience">
    <div class="section-content">
      <h2>{{ translationService.translate('nav.experience') }}</h2>
      <div class="timeline">
        <div class="timeline-item" *ngFor="let exp of experiences">
          <div class="timeline-dot"></div>
          <div class="timeline-content">
            <div class="timeline-header">
              <h3>{{exp.position}}</h3>
              <span class="company">{{exp.company}}</span>
            </div>
            <div class="timeline-info">
              <span class="period">
                <i class="far fa-calendar-alt"></i>
                {{exp.period}}
              </span>
              <span class="location">
                <i class="fas fa-map-marker-alt"></i>
                {{exp.location}}
              </span>
            </div>
            <p class="description">{{exp.description[translationService.currentLang.value]}}</p>
            <ul class="responsibilities">
              <li *ngFor="let resp of exp.responsibilities[translationService.currentLang.value]">{{resp}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</section>